.gif-container {
	/* border: 1px solid black; */
	/* border-radius: 5px; */
}

/* img {
	max-width: 100%;
	max-height: 100%;
} */

img:hover{
	cursor: pointer;
}

.topic-buttons {
	color: #ffffff;
}

.topic-buttons:hover {
	color: #ffffff;
}

